<p></p>
<a routerLink="/administracion/crear-inmueble" class="btn">Nuevo Inmueble</a>
<p></p>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Tipo
            </th>
            <th>
                Precio
            </th>
            <th>
                Dirección
            </th>
            <th>
                Descripción
            </th>
            <th>
                Imagen
            </th>
            <th>
                Video
            </th>
            <th>
                Editar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.tipoInmueble}}
            </td>
            <td>
                {{p.valor}}
            </td>
            <td>
                {{p.direccion}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                <img src="{{p.foto}}" class="imagenProdcuto" />
            </td>
         
            <td>
                <a routerLink="/administracion/editar-inmueble/{{p.id}}" class="btn">Editar</a>
            </td>
        </tr>
    </tbody>
</table>