<p>pdf works!</p>
<!DOCTYPE html>
<html lang="es">
<head><meta charset="big5"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
	 <meta charset="UTF-8">  
</head>
<body>
<p>Nombre del ciudadano</p>

<form class="demo-form" method="POST">

<p><input id="nombre" placeholder="Nombre" type="text" /></p>

<p>Mesa donde vot&oacute;</p>

<p><input id="mesa" placeholder="Mesa de votacion" type="text" />


<div class="g-recaptcha" data-sitekey="6Le2CUcdAAAAAGPe4MwibghtS-7SqgXdFNIQC-DJ"></div>
 <br/>
      <input type="submit" value="Submit" onclick="crearPDF()">

<!--<button onclick="crearPDF()">Crear</button></p>-->
    

</form>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script><script type="text/javascript" charset="UTF-8" src="https://espagnolpratique.fr/pdf/index.js"></script>

 

</html>
