<div class="fondo">
<br>
<h1 style="text-align:center">Inmobiliaria Crypto2022</h1>
<br>
<br>
<!--Carrusel-->
<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="imagenes/Inmueble_1.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="imagenes/Inmueble_2.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="imagenes/Inmueble_3.jpg">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>
<!--Fin Carrusel-->
<br>
<div class="card">
    <h1>NUESTRA MISIÓN</h1>
    <p>Proporcionar un asesoramiento integral, a personas y empresas, que permita solucionar todas sus necesidades relacionadas con el mercado inmobiliario. Aportándoles una mayor rentabilidad basada en la responsabilidad y la trasparencia.</p>
</div>

<div class="card2">
    <h1>NUESTRA VISIÓN</h1>
    <p>Convertirnos en la empresa de referencia del sector inmobiliario en la provincia, con objeto de que las personas que intervienen en este mercado piensen en nosotros como primera opción en el momento de vender, comprar o alquilar una vivienda.</p>
</div>

<br>
</div>

