
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!--  <link rel="stylesheet" href="./pie-pagina-component.css"> -->
<body></body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        
                        
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        
                    </div>
                    <div class="col-md-6 item text">
                       
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l3">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Venta</a></li>
                            <li><a href="#">Alquiler</a></li>
                            <li><a href="#">Gestión</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3">
                        <h3>Sobre Nosotros</h3>
                        <ul>
                            <li><a href="#">Compañía</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Empleos</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3">
                        <h3>Crypto Inmobiliaria</h3>
                        <p>Presentes en las ciudades principales del país, somos la inmobiiaria más grande de la región, siempre cerca de usted para acompañarlo en todos sus asuntos inmobiliarios. </p>
                    </div>
                    <div class="col s12 m6 l3">
                        <a href="#" title="Ir al cielo" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">expand_less</i></a>
                    </div>
                  </div>
                <p class="copyright">Cryptos © 2021</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
